body {
  font-family: Georgia, "Times New Roman", Times, serif
}

div.author h3 {
  display: none
}

a {
  text-decoration: none;
  color: #369
}

a:hover {
  text-decoration: underline
}

.programlisting {
  font-family: Monaco, "Andale Mono","Courier New", Courier, mono;
  font-size: 10pt
}

.programlisting, .code {
  background: #eee;
  color: #181;
  font-weight: bold
}

.red {
  color: #e11
}

.highlight {
  background: #ee1
}

thead {
  background: #ccc
}

#crypt_aes_benchmarks_table.tbody {
  font-weight: bold
}


/* 320907-1406966123 */